body {
    margin: 0;
    padding: 0;
}

#logo {
    background: url('../img/ang01_logo.png') #93B3F7 no-repeat;
    height: 48px;
    padding-left: 250px;
    margin-bottom: 5px;
}

.oddRow {
    background-color: #dddddd;
}